In [3]:
import datetime as dt
import yfinance as yf
import pandas as pd

In [4]:
stocks = ['MSFT', 'AMZN']
start = dt.datetime.today() - dt.timedelta(30)
end = dt.datetime.today()
cl_price = pd.DataFrame()

In [5]:
for ticker in stocks:
    cl_price[ticker] = yf.download(ticker, start,end)['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [9]:
cl_price.head()

                  MSFT         AMZN
Date
2020-05-12  182.003098  2356.949951
2020-05-13  179.250778  2367.919922
2020-05-14  180.028610  2388.850098
2020-05-15  182.651306  2409.780029
2020-05-18  184.396439  2426.260010

In [11]:
# store the entire dataframe in a dictionary
# ticker is the key, values is the dataframe

ohlcv_data ={}

for ticker in stocks:
    ohlcv_data[ticker] = yf.download(ticker, start,end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [15]:
ohlcv_data['MSFT'].head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-05-12,186.800003,187.039993,182.300003,182.509995,182.003098,32038200
2020-05-13,182.550003,184.050003,176.539993,179.750000,179.250778,44711500
2020-05-14,177.539993,180.690002,175.679993,180.529999,180.028610,41873900
2020-05-15,179.059998,187.059998,177.000000,183.160004,182.651306,46610400
2020-05-18,185.750000,186.199997,183.960007,184.910004,184.396439,35306600

In [19]:
ohlcv_data['AMZN']['Close'][:5]  # first 5 data pieces

Date
2020-05-12    2356.949951
2020-05-13    2367.919922
2020-05-14    2388.850098
2020-05-15    2409.780029
2020-05-18    2426.260010
Name: Close, dtype: float64

In [10]:
# getting intraday data

import yfinance as yf

data = yf.download('AMZN', period = '1mo', interval='5m')

[*********************100%***********************]  1 of 1 completed

In [2]:
type(data)

pandas.core.frame.DataFrame

In [3]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-05-11 09:30:00-04:00,2374.699951,2389.340088,2372.110107,2387.330078,2387.330078,213033
2020-05-11 09:35:00-04:00,2388.159912,2395.919922,2387.330078,2393.831787,2393.831787,114276
2020-05-11 09:40:00-04:00,2394.145020,2396.281494,2385.629883,2388.000000,2388.000000,75621
2020-05-11 09:45:00-04:00,2389.044922,2396.989990,2387.906982,2395.310059,2395.310059,103440
2020-05-11 09:50:00-04:00,2395.000000,2403.000000,2394.600098,2401.399902,2401.399902,120979

In [5]:
# alternative source for free data
'''
# go to JECSand/yahoofinancials on GitHub

clone or :
$ pip install yahoofinancials

'''

from yahoofinancials import YahooFinancials

In [6]:
ticker = "MSFT"
yahoo_financials = YahooFinancials(ticker)
data = yahoo_financials.get_historical_price_data("2018-04-24", "2020-04-24", "daily")

In [9]:
type(data)

dict